<div class="jumbotron">
        <div class="container">
            <h2 class="display-3">AQ-Air Quality</h2><br>
        </div>
        <nav class="navbar navbar-expand navbar-light bg-light">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample" aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample">
                <ul style="background-color:rgb(212, 209, 212);" class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/'>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/countries'>Countries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/cities'>Cities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/locations'>Locations</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/parameters'>Parameters</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" routerLink='/latest'>Latest</a>
                        </li>

                    
                </ul>
            </div>
        </nav>
    </div>
    <router-outlet></router-outlet>