.style1{
    border-color:rgb(182, 144, 174);
    border-style: solid;
    
    background-color: rgb(211, 230, 247);
    color: rgb(2, 11, 32);
    
}
.style2{
    background-color: rgb(182, 144, 174);
    color: white;
    
}